.screen{
    border: 1px solid black;
}
.progress-bar{
    width: 300px;
    height: 30px;
    border: 1px solid;
}
.progress{
    height: 100%;
    background: cornflowerblue;
}
#download-progress.progress{
    width: 0;
}
ul {
    padding: 0;
	margin: 0;
}
#canvas{
    grid-row: 1;
    grid-column: 1;
}
audio{
    width: 100%;
}
.letter {
	border-color: goldenrod;
	border-style: solid;
	border-width: 0;
}
.synced-open{
	border-top-width: 1px;
	border-left-width: 1px;
}
.synced-close{
	border-bottom-width: 1px;
	border-right-width: 1px;
}
.synced-open.synced-close {
	background: gold;
}
.current{
    box-shadow: 0 0 0 2px orange inset;
    background: antiquewhite;
}
.line{
    list-style: none;
    width: 100%;
	min-height: 20px;
}
.line-text {
    display: none;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    padding: 0;
	font-family: sans-serif;
	font-size: 16px;
	overflow-y: hidden;
	background: none;
}