header {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}
#lyric {
	width: 300px;
	border: 1px solid black;
	padding: 5px;
	margin: 0;
}
.keyboard {
	height: 30px;
}

.screen{
    border: 1px solid black;
}
.progress-bar{
    width: 300px;
    height: 30px;
    border: 1px solid;
}
.progress{
    height: 100%;
    background: cornflowerblue;
}
#download-progress.progress{
    width: 0;
}
#canvas{
    grid-row: 1;
    grid-column: 1;
}
audio{
    width: 100%;
}
.letter {
	border-color: goldenrod;
	border-style: solid;
	border-width: 0;
}
.synced-open{
	background: linear-gradient(to bottom right, gold 0%, gold 50%, white 50%, white 100%);
}
.synced-close{
	background: linear-gradient(to bottom right, white 0%, white 50%, gold 50%, gold 100%);
}
.synced-open.synced-close{
	background: gold;
}
.current{
    box-shadow: 0 0 0 2px orange inset;
    background: antiquewhite;
}
.line{
    list-style: none;
    width: 100%;
	min-height: 20px;
	margin-bottom: 5px;
}
.line-text {
    display: none;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    padding: 0;
	font-family: sans-serif;
	font-size: 16px;
	overflow-y: hidden;
	background: none;
}